/*Agregar comentarios a cada seccion en html y css*/
@font-face { 
    font-family: "Roboto"; 
    src: url("../Assets/font/Roboto-Light.ttf"); 
}
body{
    font-family: "Roboto";
    background-color:floralwhite;
}
.container-fluid{
    padding: 0;
}
header{
    height: 12vh;
}
.banner{
    object-fit: cover;
    padding: 0;
}
.gradient_main{
    background-color:  #7ac3f3;
    font-size: x-large;
}
main{
    background-color:floralwhite;
    padding-top: 20px;
}
.parrafo_index{
    font-size: large;
}
.titulo_bold{
    font-weight: bolder;
}

/* padding entre columnas */
.row,
.row > .column {
    padding: 2%;
}
/*4 columnas de productos*/
.column {
    float: left;
    width: 25%;
}
footer{
    text-decoration: none;
    background-color:floralwhite;
    text-align: center;
    font-size: larger;
    font-family: Calibri, sans-serif;
}
.footerlinks{
    font-family: "Roboto";
    padding-left: 2%;
    padding-right: 2%;
    display:inline-block
}
.footer_link_decoration{
    text-decoration: none;
    color: black;
    font-family: "Roboto";
    font-weight: bolder ;
}
.footer_link_decoration:hover{
    color: gray;
}