/*Agregar comentarios a cada seccion en html y css*/
@font-face { 
    font-family: "Roboto"; 
    src: url("../Assets/font/Roboto-Light.ttf"); 
}
body{
    font-family: "Roboto";
    background-color:floralwhite;
}
.container-fluid{
    padding: 0;
}
header{
    height: 12vh;
}
.banner{
    object-fit: cover;
    padding: 0;
}
.gradient_main{
    background-color:  #7ac3f3;
    font-size: x-large;
}
main{
    background-color:floralwhite;
    padding-top: 20px;
}
.parrafo_index{
    font-size: large;
}
.titulo_bold{
    font-weight: bolder;
}
.titulo_formulario{
    font-weight: bold;
    color: white;
    background-color: #3E7CA3;
    text-align: center; 
}
.titulo_contacto{
    font-weight: bold;
}
.parrafo_contacto{
    font-size: large;
}
.test{
    padding-left: 200px;
}
.boton_enviar{
    color:white;
    font-weight: bolder;
}
#row_background{
    background-color: #3E7CA3;
}
#row_background2{
    background-color:#7ca6c2;
}
#mapa{
    align-items: end;
    justify-content: center;
}
#fecha{
    text-align: center;
    color: white;
    font-size: large;
    font-weight: bold;
}
#comprar{
    color: white;
    font-weight: bolder;
    background-color: #01436b
}
#estadio{
    text-align: left;
    color: white;
    font-size: large;
    font-weight: bold;
}
#estadiosub{
    text-align: left;
    color: white;
    font-size: small;
    font-weight: bold;
}
/*galeria de imagenes*/
.centercar{
    display: flex;
    justify-content: center;
}
#carouselfotosalf{
    height: 100%;
    width: 80%;
}
.carousel-img{
    width: 100%;
    height: 80%;
}
.titulo_video{
    font-size: 20px;
    margin: 5px;
    float: inline-start;
    width: 350px;
}
.videos{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Tienda grid*/
.centerprod{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 100%;
    height: 100%;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit:contain;
}
.card-title{
    object-fit: contain;
}
/* padding entre columnas */
.row,
.row > .column {
    padding: 2%;
}
/*4 columnas de productos*/
.column {
    float: left;
    width: 25%;
}
footer{
    text-decoration: none;
    background-color:floralwhite;
    text-align: center;
    font-size: larger;
    font-family: Calibri, sans-serif;
}
.footerlinks{
    font-family: "Roboto";
    padding-left: 2%;
    padding-right: 2%;
    display:inline-block
}
.footer_link_decoration{
    text-decoration: none;
    color: black;
    font-family: "Roboto";
    font-weight: bolder ;
}
.footer_link_decoration:hover{
    color: gray;
}
/* para usar id e invocarlo utilizo #NombreDelId el id es el mas especifico*/
/*regla de padres e hijos - que tag esta dentro de otra, por ejemplo <a> dentro de <div> / si lo hijos tienen propiedades no heredan de los padres*/
/* para invocar class .nombreDeClase 
.colorHeader{
    background-color: rgb(231, 199, 199);
}*/
/* para comentar 
selector{
    propiedad: valor;
    propiedad: valor;
}
*/