/*Agregar comentarios a cada seccion en html y css*/
@font-face { 
    font-family: "Roboto"; 
    src: url("../activos/fonts/Roboto-Light.ttf"); 
}
body{
    font-family: "Roboto";
    background-color:floralwhite;
}
.container-fluid{
    padding: 0;
}
.headerss{
    height: 7vh;
}
.backgroundheader{
    background-color:#335384;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    width: 100%;
}
.navbar-toggler {
    background-color: floralwhite!important;
}
.navbar-toggler-icon{
    height: 50% !important;
}
.navbarTogglerDemo01{
    background-color:  #000 !important;
}
.collapse{
    background-color:#335384;
}
.header_navlinks{
    color: floralwhite !important;
    text-decoration: none !important;
    font-weight: bolder !important;
    font-size: x-large;
}
.gradient_main{
    background-color:  #7ac3f3;
}
main{
    background-color:floralwhite;
    padding-top: 20px;
}
.inline{
    float: left;
    padding-right: 2%;
}
.titulocarta{
    display: flex;
    text-align: center ;
}
.firma{
    display: flex;
    justify-content:flex-end;
}
.parrafo_index{
    font-size: large;
}
.titulo_bold{
    font-weight: bolder;
}
.imagender{
    border: 5px solid floralwhite;
    border-radius: 10px;
}
.imagender:hover{
    zoom:20%;
}
.videocontainer{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top:30%;
}
.video{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
    width: 70%;
    height: 88%;
}

/* padding entre columnas */
.row,
.row > .column {
    padding: 2%;
}
/*4 columnas de productos*/
.column {
    float: left;
    width: 25%;
}
.titulocred{
    color: black;
    text-align: center;
    font-weight: bolder;
}
footer{
    text-decoration: none;
    background-color:floralwhite;
    text-align: center;
    font-size: larger;
    font-family: Calibri, sans-serif;
}
.footerlinks{
    font-family: "Roboto";
    padding-left: 2%;
    padding-right: 2%;
    display:inline-block
}
.footerlinks_linkDecoration{
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-family: "Roboto";
    font-weight:bolder ;
}
.footerlinks_linkDecoration:hover{
    color: gray;
}